@{
  Layout = "_Layout";
}
<div class="container">
  <br>
  <h1>Add a Vendor</h1>
  <form action="/vendors" method="post">
    <label for="vendorName">Vendor name</label>
    <input id="vendorName" name="vendorName" type="text">

    <button type="submit" class="btn btn-sm btn-success">Add</button>
  </form>
  <hr>
  <h5 style="margin: 20px 0px 20px 0px"><a href="/">Back to homepage</a></h5>
  <h5><a href="/vendors">Back to vendors list</a></h5>
  
</div>     