@using OrderTracker.Models;
@{
  Layout = "_Layout";
}
<div class="container">
  <br>
  <h3>Here are all the orders for this vendor:</h3>
  <ol>
  @foreach (Order order in @Model["orders"])
  {
    <li><a href='/vendors/@Model["vendor"].Id/orders/@order.Id'>@order.Description</a></li>
  }
  </ol>
  <p><asp:button id="button1" runat="server" text="ShowVendors" PostBackUrl='/vendors/@Model["vendor"].Id/orders/new'>Goback</asp:button>
  
  <a href='/vendors/@Model["vendor"].Id/orders/new'>Add a new order</a></p>
  <p><a href='/vendors'>Return to vendor list</a></p>
  <p><a href='/'>Return to Main Page</a></p>
 <form action="/orders/delete" method="post">
    <button type="submit" class="btn btn-danger" name="button">Delete Orders</button>
  </form>
</div>     