@using OrderTracker.Models;
@{
  Layout = "_Layout";
}
<div class="container">
  <br>
  <h3>Here are all the orders for this vendor:</h3>
  @if (@Model["orders"].Count == 0)
  {
    <h4>No orders have been added yet!</h4>
  } 
  <ol>
  @foreach (Order order in @Model["orders"])
  {
    <li><a href='/vendors/@Model["vendor"].Id/orders/@order.Id'>@order.Item</a></li>
  }
  </ol>
  <hr>
  <h5 style="margin: 20px 0px 20px 0px"><a href='/vendors/@Model["vendor"].Id/orders/new'>Add a new order</a></h5>
  <h5 style="margin: 0px 0px 20px 0px"><a href='/vendors'>Back to vendor list</a></h5>
  <h5><a href='/'>Back to homepage</a></h5>

  <form action="/vendors/{vendorId}/delete" method="post">
    <button style="display: none; margin-top: 20px;" type="submit" class="btn btn-danger" name="button">Delete Orders</button>
  </form>
</div>     