@{
  Layout = "_Layout";
}
<div class="container">
  <br>
  <div class="jumbotron">
    <h1 style="font-size: 32px;">Pierre's Bakery Vendor Order Tracking</h1>
    <p>Add vendors and their orders to help track your growing business!</p>
  </div>
  
  <hr>
  <h5 style="margin: 20px 0px 20px 0px"><a href='/vendors'>View vendors</a></h5>
  <h5><a href='/vendors/new'>Add a new vendor</a></h5>
</div>