@{
  Layout = "_Layout";
}
<div class="container">
  <br>
  <h1>Welcome</h1>
  <hr>
  <h5 style="margin: 20px 0px 20px 0px"><a href='/vendors'>View vendors</a></h5>
  <h5><a href='/vendors/new'>Add a new vendor</a></h5>
</div>