@{
  Layout = "_Layout";
}
<div class="container">
  <br>
  <h1>Add a new order for @Model.Name</h1>
  <form action="/vendors/@Model.Id/orders" method="post">
    <input id="vendorId" name="vendorId" type="hidden" value="@Model.Id">
    <label style="margin: 10px 0px 10px 0px;" for="orderItem">Item Description</label>
    <input style="margin-left:10px;" id="orderItem" name="orderItem" type="text">
    <br>
    <label style="margin: 10px 0px 10px 0px;" for="quantity">Quantity (Each)</label>
    <input style="margin-left:16px;" id="quantity" name="quantity" type="text">
    <br>
    <label style="margin: 10px 0px 10px 0px;" for="price">Price (Each)</label>
    <input style="margin-left:38.5px;" id="price" name="price" type="text">
    <br>
    <label style="margin: 10px 0px 10px 0px;" for="dateOrdered">Date Ordered</label>
    <input style="margin-left:31px;" id="dateOrdered" name="dateOrdered" type="text">
    <br>
    <label style="margin: 10px 0px 10px 0px;" for="dateShipped">Date Shipped</label>
    <input style="margin-left:30px;" id="dateShipped" name="dateShipped" type="text">
    <br>
    <button type='submit' class="btn btn-success" style="width: 306px;">Add Order</button>
  </form>
</div>