@{
  Layout = "_Layout";
}
<div class="container">
  <br>
  <h2>Order Details For Vendor: <em><strong>@Model["vendor"].Name</em></strong></h2>
  <div class="row">
    <div class="col-md-2">
      <p style="font-weight:bold">Item Description</p>
    </div>
    <div class="col-md-2">
      <p style="font-weight:bold">Quantity (Each)</p>
    </div>
    <div class="col-md-2">
      <p style="font-weight:bold">Price (Each)</p>
    </div>
    <div class="col-md-2">
      <p style="font-weight:bold">Date Ordered</p>
    </div>
    <div class="col-md-2">
      <p style="font-weight:bold">Date Shipped</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2">
      <p>@Model["order"].Item</p>
    </div>
  </div>
  
  <h3>Vendor: @Model["vendor"].Name</h3>
  <p><a href='/vendors/@Model["vendor"].Id/orders/new'>Add another order</a></p>
  <p><a href='/vendors'>View all vendors</a></p>

  <form action="/orders/delete" method="post">
    <button type="submit" class="btn btn-danger" name="button" value="@Model["order"]">Delete Orders</button>
  </form>
</div>