@{
  Layout = "_Layout";
}
<div class="container">
  <br>
  <h1>To Do List Order Details: </h1>
  <h2>@Model["order"].Description</h2>
  <h3>Vendor: @Model["vendor"].Name</h3>
  <p><a href='/vendors/@Model["vendor"].Id/orders/new'>Add another order</a></p>
  <p><a href='/vendors'>View all vendors</a></p>
</div>